*.o
*.asp
*.bak
*.def
*.dll
*.dsp
*.dylib
*.exe
*.exp
*.idb
*.ilk
*.kdevelop*
*.kdevses
*.la 
*.lib
*.lnk
*.lo 
*.log
*.map
*.ncb
*.o 
*.obj
*.old
*.opt
*.pch
*.pdb
*.plg
*.res
*.sln
*.suo
*.sym
*.tmp
*.vcproj
.ignore
.kdbgrc*
BuildLog.htm
make.dep
.buildStarted
buildConfig.*
.buildConfig.*
tools/dsi
tools/genDepend
tools/incPatch
tools/pp
.embedthis
.makedep
build/bin/dsi*
build/bin/genDepend*
build/bin/incPatch*
build/bin/pp*
build/bin/getpath
build/bin/edep
lib/*.so
extensions
releases
out
.embedthis
